<div class="container-fluid p-0">
  <nav [class]="colorNavbar">
    <div class="w-100 row d-flex justify-content-end align-items-center p-0">
      <div class="col-12 col-md-7 col-sm-2 d-flex justify-content-end">
        <div class="d-flex justify-content-center align-items-center">
              <p class="mt-2" style="color: #c0c5cc;">
                <b>{{username}}</b><br />
                <span class="d-flex text-end justify-content-end">{{usertype}}</span>
              </p> 
              <img src="../../../assets/img/userIcon.svg" width="45px" class="ms-2 mb-2"/>
              <img src="../../../assets/img/bell.svg" width="40px" class="ms-2 mb-2"/>
              <img src="../../../assets/img/message.svg" width="30px" class="ms-2 mb-2"/>
        </div>
      </div>
    </div>
  </nav>
</div>