<div class="container-fluid p-0">
    <div class="container text-muted">
          <h1 class="display-3 font-weight-bold"><b>Ideas</b></h1>
          <b class="h5">
            Consulta las ideas registradas por tus compañeros, opina sobre ellas y ayuda a fortalecerlas.
          </b>
          <div class="container-fluid d-flex justify-content-end">
            <button class="btn btn-primary rounded-circle" style="width: 4rem; height: 4rem;">
                <img src="../../../assets/img/search.svg" alt="" width="100%">
            </button>
          </div>
    </div>
    <div class="container-fluid mt-3">
        <div class="row row-cols-auto">
          <app-AddButton title="Agregar una nueva idea" class="col mt-2"></app-AddButton>
          <app-PreviewIdea class="col mt-2"></app-PreviewIdea>
          <app-PreviewIdea class="col mt-2"></app-PreviewIdea>
          <app-PreviewIdea class="col mt-2"></app-PreviewIdea>
          <app-PreviewIdea class="col mt-2"></app-PreviewIdea>
          <app-PreviewIdea class="col mt-2"></app-PreviewIdea>
        </div>
    </div>
</div>
