<div class="container-fluid p-0">
    <div class="row d-flex justify-content-center">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 d-none d-lg-block">
            <app-Sidebar></app-Sidebar>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-8 col-xs-9">
          <app-navbar username="Rafael Erazo" usertype="Admin" [navtype]="2"></app-navbar>
          <div *ngIf = '!displaySidebar.displayforTouch else viewSidebar'>
              <router-outlet></router-outlet>
          </div>

          <!-- Mostrar Sidebar en caso de visualziar-->
          <ng-template #viewSidebar>
                <app-Sidebar></app-Sidebar>
          </ng-template>
        </div>
    </div>
</div>