<div *ngIf = 'display.displayforScreen || display.displayforTouch'>
  <div class="container-fluid bg-light p-3 vh-100">
    <div class="container">
      <img src="../../../assets/img/logo.png" width="100%" />
    </div>
    <div class="container mt-5">
      <div class="d-flex align-items-center mt-3">
        <img src="../../../assets/img/idea.svg" width="25%" [class]="ImageIdeas" />
        <h4 [class]="Ideas"><b>Ideas</b></h4>
      </div>
      <div class="d-flex align-items-center mt-4">
        <img src="../../../assets/img/rocket.svg" width="25%" />
        <h4 class="text-muted ms-2"><b>Retos</b></h4>
      </div>
      <div class="d-flex align-items-center mt-4">
        <img src="../../../assets/img/idea.svg" width="25%" />
        <h4 class="text-muted ms-2"><b>Tareas pendientes</b></h4>
      </div>
      <div class="d-flex align-items-center mt-4">
        <img src="../../../assets/img/idea.svg" width="25%" />
        <h4 class="text-muted ms-2"><b>Ideas por evaluar</b></h4>
      </div>
      <div class="d-flex align-items-center mt-4">
        <img src="../../../assets/img/idea.svg" width="25%" />
        <h4 class="text-muted ms-2"><b>Raking</b></h4>
      </div>
    </div>
    <!-- En caso de sidebar en vista movil -->
    <div class = 'd-sm-block d-md-block d-lg-none'>
      <div class="d-flex align-items-center mt-4" (click) = 'Ocultar();' role="button">
        <img src="../../../assets/img/idea.svg" width="25%" />
        <h4 class="text-muted ms-2"><b>Atrás</b></h4>
      </div>
    </div>
  </div>
</div>